/**** CUSTOMS VARIABLES  start***/
:root{
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --fs-paragraph: 14px;
    --ff-fraunces : 'Fraunces', serif;
    --ff-monserrat: 'Montserrat', sans-serif;
}
/**** CUSTOMS VARIABLES  end***/


/**** GENERAL SETTINGS  start***/ 
*,
*::after, 
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--cream);
    height: 100vh;
    display: flex;      
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img {
 width: 100%;
 height: 100%; 
 object-position: center;
 object-fit: cover;
}
/**** GENERAL SETTINGS  end***/


/***** PRODUCT CARD start ******/
.card {
    background-color: var(--white);
    font-family: var(--ff-monserrat);
    width: 340px;    
    margin: 1em auto 1em;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.card__img-container {
    width: 100%;  
    height: 240px;          
    overflow: hidden;
    /*background-color: gray;*/
}
.card__text-container {
    padding: 1.4em;
}

/* MEDIAS QUERIES start*/
@media (min-width: 1080px){
    .card {
        flex-direction: row;
        width: 540px;
    }
    .card__img-container {
        width: 50%;    
        height: 100%;          
    }
    .card__text-container {
        width: 50%;
    }   
      
}
/* MEDIAS QUERIES END*/

.card__text-container__category {
    text-transform: uppercase;
    color: var(--dark-grayish-blue);
    letter-spacing: 0.4em;
    font-weight: 500;
    font-size: 0.8em;    
}
.card__text-container__title {
    font-family: var(--ff-fraunces);    
    margin: 0.4em 0em 0.4em 0;
    line-height: 1em;
    font-weight: 700;
}
.card__text-container__paragraph {
    font-size: var(--fs-paragraph);
    color: var(--dark-grayish-blue);
    line-height: 1.8em;    
    margin: 1.2em 0em;
}
.card__text-container__price {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card__text-container__price__discount {
    font-family: var(--ff-fraunces);
    font-size: 1.9em;
    color: var(--dark-cyan);
}
.card__text-container_price__actual {
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
    margin-left: 1.2em;
    font-size: 0.8em;
}
.btn {
    background-color: var(--dark-cyan);
    color: var(--white);
    font-family: var(--ff-monserrat);
    width: 100%;
    border-radius: 8px;
    border: none;
    font-size: 0.8em;
    font-weight: 700;
    padding: 1.2em;
    margin: 1em 0em 0.5em 0em;
}
.btn:hover {
    cursor: pointer;
    background-color: hsl(158, 37%, 29%);
}
.btn__icon {
    margin-right: 0.8em;
}
/***** PRODUCT CARD start ******/


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
